/* General Classes */

body{
	background:#f4f4f4;
	color: #000000;
}

h1, h2, h3, h4, h5, h6, .author {
  font-family: "Norican", cursive;
  font-weight: 400;
  font-style: normal;
}

.alignleft{
	float:left;
	margin-right:20px;
}

.aligncenter{
	text-align:center;
}

.alignright{
	text-align:right;
}

.egreen {
    background: #20664f;
    padding: 100px;
}

.egreen h2{
	color:#ffffff;
	margin:20px;
}

.floatleft {
    float: left;
}

.floatright{
    float: right;
}

.breadcrumbs {
    font-size: 12px;
}

button {
    background: #20664f;
    border: none;
    color: #fff;
    min-width: 100px;
    border-radius: 3px;
    padding: 3px;
    margin: 2px;
	position: relative;
    left: -2px;
}

/* Override CSS */

.col {
    padding-right: 5px;
    padding-left: 5px;
}


/* Navigation */
a.nav-item.nav-link.active {
    border-radius: 3px;
    border: 1px solid #20664f;
}


/* Top Menu */


div#top-menu, div#bottom-footer {
    background: #00674f;
    padding: 5px;
	min-height: 38px;
}

div#email svg {
    position: relative;
    top: 2px;
}

div#contact-support {
    float: right;
}

div#top-menu a, div#top-menu p, div#bottom-footer p{
    color: #ffffff;
	margin: 0;
}

div#free-shipping {
    border-left: 1px solid #195844;
    padding-left: 25px;
    margin-left: 20px;
}

div#email, div#free-shipping {
    display: inline-block;
}

div#top-sm ul {
    margin: 0;
}

/* Welcome Box in Homepage */

div#welcome-box {
    padding: 50px;
    background: #00674f;
    border-radius: 20px;
    margin: 50px 0;
    color: #ffffff;
}

/* Visitors Review */

.stars {
    text-align: center;
    margin-bottom: 10px;
}

.tbox {
    padding: 30px;
    background: #ececec;
    border-radius: 50px;
    margin: 20px 0;
	box-shadow: 0px 5px 5px #0000001a;
}

div#testimonial .author {
    font-size: 20px;
    color: #00674f;
}

/* Product Page */

ul#categories {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#product-section {
    margin-top: 50px;
}

p.price {
    font-weight: 700;
    color: #2e664f;
}


/* Contact Page */

div#map{
	box-shadow: 0px 5px 5px #0000001a;
	width:100%;
}

iframe{
	width:100%;
	height: 400px;
}


input[type=text], input[type=email], textarea, select {
	width: 100%; 
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical;
}

input[type=number] {
    width: 50px;
}

textarea{
	min-height:200px;
}


input[type=submit] {
  background-color: #2e664f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #000000;
}

div#the-form h2 {
    margin: 50px 0;
}

span.red {
    color: red;
    font-size: 12px;
}

div#the-form .breadcrumbs {
    margin-top: 50px;
}


/* Footer Section */

div#footer {
    background: #ececec;
    padding: 50px 0 20px;
    min-height: 300px;
	clear: both;
    margin-top: 90px;
}

div#footer a:hover {
    color: #000000;
    text-decoration: none;
}

div#footer a {
    color: #00674f;
}

ul#footer-details {
    margin-top: -20px;
    padding: 0;
    list-style: none;
}

table#opening-hours {
    width: 200px;
    font-size: 12px;
}

/* Social Medias in header and footer */


ul.social-medias img {
    width: 30px;
    margin-right: 10px;
}

ul.social-medias {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

/* Responsive CSS */

@media only screen and (max-width: 993px) {
	
	div#top-menu {
		width: 100%;
		min-height: 85px;
	}

	div#email, div#free-shipping, div#contact-support {
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	
	a.navbar-brand {
		width: 100%;
		text-align: center;
	}

	button.navbar-toggler {
		width: 100%;
	}

	div#navbarNavAltMarkup {
		text-align: center;
	}

	div#top-sm {
		width: 100%;
		text-align: center;
		margin: 20px 0;
	}

	.col {
		width: 100%;
		flex: none;
	}
	
	.col-2 {
		max-width: 100%;
		flex: 0 0 100%;
		text-align: center;
	}
	
	div#welcome-box img {
		width: 100%;
		margin: 0 0 20px;
	}

	p.card-text, div.card-body .price, div.card-body button {
		font-size: 30px;
		text-align: center;
	}
	
	input[type=number] {
		width: 50px;
		height: 50px;
		position: relative;
		top: -4px;
		left: 1px;
	}

	div.card-body {
		text-align: center;
	}

	div#footer {
		text-align: center;
	}

	div#footer ul {
		list-style: none;
		padding: 0;
	}

	table#opening-hours {
		margin: 0 auto;
	}

	.row {
		flex-direction: row;
		align-content: space-around;
		justify-content: space-around;
	}


}